<div class="container">
    <div class="row">
        <div class="col-sm-6 col-12 ">
            <mat-card class="glass-back mt-3" >
                <mat-card-content>
                    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">
                        <img src="../../../assets/weather.png" alt="weather-icon" height="200" width="auto">
                    </div>
                </mat-card-content>
              </mat-card>
              
        </div>
        <div class="col-sm-6 col-12">

            <div class="d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">

                <img src="../../../assets/weather.png" alt="weather-icon" height="70" width="auto" class="">

                    <p class="m-0 fw-medium text-light" style="font-size: 60px;" >Breeze</p>
                    <!-- <p class="m-0" style="font-size: 15px;">Weather App</p> -->
                    <button mat-raised-button class="glass-back mt-2" (click)="router.navigate(['weather'])" >Get Started</button>
            </div>

        </div>

    </div>
</div>